.Dashboard {
  border: 2px dashed green;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 750px) {
  .dashboard-container {
    flex-direction: row;
  }
  .dashboard-container > section {
    /* Need to set a width or flex-basis, or flex-grow grows unevenly!
    Solved in task.css with .dashboard-container > section:nth-of-type(2) */

    /* max-width: 50%; */
    flex-basis: 50%;
    flex-grow: 1;

    margin: 10px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .userPrize {
    margin: 0 10px 10px;
  }
  .childStatusList {
    /* min-width: 350px; */
  }

  .userPrize, header {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
  }
}
