.Dashboard {
  border: 2px dashed green;
}

.dashboard-title {
  display: flex;
  justify-content: center;
}


/* Temporary, will decide to keep. */
.Dashboard h3 {
  display: flex;
  justify-content: center;
  background-color: white;
}
