.Dashboard {
  border: 2px dashed green;
}

.dashboard-container {
  display: flex;
}

.dashboard-container > section {
  /* Need to set a width or flex-basis, or flex-grow grows unevenly! */
  flex-basis: 50%;
  flex-grow: 1;
}
