header {
  display: flex;
  justify-content: center;
  padding: 20px;

  background-color: #68BFEB;
  color: #FFF;

  font-family: "Roboto", sans-serif;
}

/* Use flex: 1 on first, hidden element and last element.
Forces both elements to consume available space, centering the middle item.
Don't have to worry about equal widths for the left and right items.
Need to add an extra div element to the DOM. */
/* header > div.hidden {
  flex: 1;
  content: "";

  border: 1px solid red;
} */

/* Flex solution similar to above. But it uses a pseudo element instead
of adding a hidden element to DOM. It's semantically cleaner. */
header::before {
  flex: 1;
  content: "";
}

.app-title {
  align-self: center;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.logged-in-user {
  font-size: 20px;
  margin-right: 10px;
}
