.login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: beige;

  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.login-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}


/***** New styling using Field component `label` prop *****/
.login-form label {
  display: block;
}

.form-input > input, .form-input > label {
  width: 100%;
  margin-bottom: 10px;
}

.form-input > input {
  border: 1px solid #E7E7E7;
  background: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 6px;
}


/***** Style and align the login form buttons *****/
.login-form-buttons {
  /* border: 1px dotted red; */
  margin: 10px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-buttons > a {
  /* Display flex to vertically align the button inside the <a> tag with
  the other button inside the <div> */
  display: flex;
  margin-left: 5px;
  text-decoration: none;
}

.login-form-buttons button {
  border: none;
  color: #FFF;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-radius: 20px;
}

.login-btn-color {
  background-color: #00C851;
}

.goto-register-btn {
  background-color: #4285F4;
}

.login-btn-color:hover {
  background-color: #00D255;
}

.goto-register-btn:hover {
  background-color: #5A95F5;
}

/* Use gray color when login button is disabled */
.login-btn {
  background-color: #CECECE;
  color: #E5E5E5;
}
