.login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: beige;

  /* margin: 0 auto; */
  /* Try to use Flexbox to center */
  justify-content: center;
}

.login-form > input {
  margin-bottom: 10px;
}

