.login {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: beige;

  padding: 20px;
}

.login-form > input {
  margin-bottom: 10px;
}

.login-name {
  display: flex;
  justify-content: center;
}
