.registration {
  display: flex;
  justify-content: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: beige;

  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.registration-name {
  display: flex;
  justify-content: center;
  font-size: 20px;
}


/***** New styling using Field component `label` prop *****/
.registration-form label {
  display: block;
}

.form-input > input, .form-input > label {
  width: 100%;
  margin-bottom: 10px;
}

.form-input > input {
  border: 1px solid #E7E7E7;
  background: #FCFCFC;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 6px;
}


/***** Radio fieldset *****/
.radio-fieldset {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
}

.form-input-radio > label {
  display: flex;
  align-items: center;
}

.radio-fieldset input {
  width: 20px;
  margin: 5px;
}


/***** Temp styling radio buttons *****/
#register-radio-buttons {
  border: 2px solid blue;
}

#register-radio-buttons .parent-field-radio > input,
#register-radio-buttons .parent-field-radio > label {
  display: inline;
}

.parent-field-radio {
  border: 1px solid red;
}


/***** Style and align the registration form buttons *****/
.registration-form-buttons {
  /* border: 1px dotted red; */
  margin: 10px 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form-buttons > a {
  /* Display flex to vertically align the button inside the <a> tag with
  the other button inside the <div> */
  display: flex;
  margin-left: 5px;
  text-decoration: none;
}

.registration-form-buttons button {
  border: none;
  color: #FFF;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-radius: 20px;
}

.registration-btn-color {
  background-color: #00C851;
}

.goto-login-btn {
  background-color: #4285F4;
}

.registration-btn-color:hover {
  background-color: #00D255;
}

.goto-login-btn:hover {
  background-color: #5A95F5;
}

/* Use gray color when registration button is disabled */
.registration-btn {
  background-color: #CECECE;
  color: #E5E5E5;
}
