.registration {
  display: flex;
  justify-content: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: beige;

  padding: 20px;
}

.registration-form > input {
  margin-bottom: 10px;
}

.registration-name {
  display: flex;
  justify-content: center;
}

.registration-btn {
  align-self: flex-start;
}
