.task-list {
  display: flex;
}


/* The following rulesets are works in progress */
.task-list > span, .task-list > form {
  flex: 6;

  /* Justin suggestion */
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;

}

.task-list > form > input {
  width: 50%;
}

.dashboard-container > section:nth-of-type(2) .task-list > span {
  max-width: 50%;
}

.task-list > div.update-delete-buttons,
.task-list > form > div.update-task-form-buttons {
  flex: 1;
  margin-left: 20px;
  display: inline-block;
}

.task-name {
  display: flex;
  align-items: center;
}


/***** Update and Delete buttons *****/
.update-delete-buttons > button {
  border: none;
  border-radius: 2px;
  color: #FFF;
  padding: 5px 10px;
}

.update-task-btn {
  background-color: #AA66CC;
  margin-right: 5px;
}

.delete-task-btn {
  background-color: #CC0000;
}

.update-task-btn:hover {
  background-color: #B579D2;
}

.delete-task-btn:hover {
  background-color: #D9534F;
}

