.update-task-form-buttons > button {
  border: none;
  border-radius: 2px;
  color: #FFF;
  padding: 5px 10px;
}

.submit-update-task-btn {
  background-color: #AA66CC;
  margin-right: 5px;
}

.cancel-update-btn {
  background-color: #5A6268;
}

.submit-update-task-btn:hover {
  background-color: #B579D2;
}

.cancel-update-btn:hover {
  background-color: #6C757D;
}
