.userTasksList {
  border: 1px solid black;
  background-color: #FFF;
  padding: 20px;
}

.userTasksList-UL {
  list-style-type: none;
  padding: 0;
}

.task-list {
  padding: 10px;
  margin: 10px 0;

  background-color: #FFC4CD;
}

.task-list:nth-child(even) {
  background-color: #E5B0B8;
}
