.userTasksList {
  border: 1px solid black;
  background-color: #F4F7FC;
  padding: 20px;
}

.userTasksList-UL {
  list-style-type: none;
  padding: 0;
}

.task-list {
  padding: 10px;
  margin: 10px 0;

  background-color: #E0E8F5;
}

.task-list:nth-child(even) {
  background-color: #E9EEFF;
}
