.userPrize {
  border-radius: 5px;
  background-color: rgb(241, 163, 238);
  padding: 20px;
}

.userPrize > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.prize-info > span {
  font-family: "Gaegu", "cursive";
  font-size: 25px;
}


/***** Prize list *****/
.prize-history-list {
  font-family: "Gaegu", "cursive";
  font-size: 25px;
  padding-left: 0;
  list-style-type: none;
}

.prize-history-list-title {
  font-weight: 700;
}

.prize-history-list > li {
  /* border: 1px dotted green; */
  padding: 10px;
}


/***** Prize buttons *****/
.userPrize button {
  border: none;
  border-radius: 2px;
  color: #FFF;
  padding: 5px 10px;
}

.create-prize-btn {
  background-color: #00C851;
  margin-right: 5px;
}

.update-prize-btn {
  background-color: #AA66CC;
  margin-right: 5px;
}

.delete-prize-btn {
  background-color: #CC0000;
}

.create-prize-btn:hover {
  background-color: #00D255;
}

.update-prize-btn:hover {
  background-color: #B579D2;
}

.delete-prize-btn:hover {
  background-color: #D9534F;
}


/***** Styling for child get Prize button *****/
.userPrize > .child-get-prize-btn {
  position: relative; /* Position needs to be relative for overlay */
  padding: 10px 15px;
  background-image: linear-gradient(#AA8C2C, #887023);

  border-radius: 10px;
  /* box-shadow: 0px 1px 4px -2px #333; */
  text-shadow: 0px -1px #333;

  /* Text stuff */
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
}

.userPrize > .child-get-prize-btn:after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100%);
  height: 50%; /* To get the glass effect in upper half */
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));

  /* Overlay border radius must match button's border radius */
  border-radius: 10px;
}

.userPrize > .child-get-prize-btn:hover{
  background: linear-gradient(#DDBF5F, #D4AF37);
}
